body{
    background-color:rgb(53, 5, 5);
    font-weight: 500;
    font-family:'roboto',sans-serif;
  }
  
  p{
    color: rgb(6, 6, 70);
    text-align: centre;
    font-size: 32px
  }
  h1{
    //style.css
  .panda{
    height: 400px
    width: 400px;
  }
  
  }











                 











  
  {p
    /*property value pairs*/
    <p class="select-me">if html element has class associated, it can be referenced using class selector in css</p>
    .select-me{
      /*propert value pairs*/
    }
  }
